
.Questions {
  color: #f9f9f9;
  background: #859fe9;
  margin: auto;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  position: relative;
}

.headerDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background:#859fe9;
  z-index: 2;
  border-radius: -100px;
}

.headerDiv2 {
  position: relative;
  height: 30px;
  margin: 8px 0 8px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.headerDivImg {
  width: 20px;
  height: 20px;
  position: absolute; 
  left: 10px;
  border-radius: 50%;
}

.headerDivText{
  position: absolute;
  top: 0;
  margin: 0 auto;
}

.bars {
  position: absolute;
  right: 10px;
  /* right: 10px;
  position: absolute;
  top: 10px; */
} 

/* @media (max-width: 450px) {
  .Questions {
    width: 100vw;
  }
}
@media (min-width: 450px) {
  .Questions {
    width: 450px;
  }
} */
